@mixin easeOut {
  transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
}

.header {
  height: 40px;
  background-color: rgba(255,0,0, 0.6);
}

.registration-wrapper {
  display: flex;
  justify-content: space-between;
}

.registration-nav {
  width: 320px;
  min-height: 200px;
  background-color: #f1f4f8;
}

.registration-form-wrapper {
  min-height: 200px;
  flex-grow: 1;
  background-color: darken(#f1f4f8, 30%);
}

.step-wrapper {
  will-change: height;
  @include easeOut;
  display: relative
}

.substeps-wrapper {
  position: relative;
  overflow: hidden;
}
